<div th:fragment="footer">
    <footer class="py-3 my-4" style="background-color: #C8BFC7; color: #333">
        <!-- <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #000036 !important;">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #000036 !important;">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #000036 !important;">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #000036 !important;">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #000036 !important;">About</a></li>
        </ul> -->
        <div style="display: flex; flex-direction: row; margin: 5px;" >
			<div style="display: flex; flex-direction: row; margin: 5px;">
				<div style="display: flex; flex-direction: column; margin: 20px;">
			<h6 style="color: #000036; ">Titolo</h6>
			<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
			<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
			<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
			<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>			
			</div>
			<div style="margin: 10px;">
				<hr id="vertical" style="transform: rotate(90deg)">
			</div>
			</div>      		
			<div style="display: flex; flex-direction: column; margin: 20px;">
			<h6 style="color: #000036">Titolo</h6>
        	<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
        	<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
        	<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
        	<a href="#"  style="color: #767982 !important; text-decoration: none;">Home</a>
			</div>
		</div>
        <p class="text-center text-muted">©️ 2022 Company, Inc</p>
      </footer>
</div>